n8n-workflows/voice-note-processor.json
{
  "name": "Voice Note Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-note-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Voice Note Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messages[0].type }}",
              "operation": "equals",
              "value2": "audio"
            }
          ]
        }
      },
      "id": "check-audio-type",
      "name": "Is Audio Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://waba.360dialog.io/v1/media/{{ $json.messages[0].audio.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "D360-API-KEY",
              "value": "={{ $env.WHATSAPP_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-media-url",
      "name": "Get Media URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-audio",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.VOICE_API_URL }}/api/v1/voice/transcribe",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "from_number",
              "value": "={{ $node['Voice Note Webhook'].json.messages[0].from }}"
            },
            {
              "name": "message_id",
              "value": "={{ $node['Voice Note Webhook'].json.messages[0].id }}"
            },
            {
              "name": "contact_name",
              "value": "={{ $node['Voice Note Webhook'].json.contacts[0].profile.name }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "transcribe-audio",
      "name": "Transcribe Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.VOICE_API_URL }}/api/v1/voice/respond",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transcript",
              "value": "={{ $json.transcript }}"
            },
            {
              "name": "from_number",
              "value": "={{ $node['Voice Note Webhook'].json.messages[0].from }}"
            },
            {
              "name": "generate_audio",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 45000
        }
      },
      "id": "generate-response",
      "name": "Generate AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_audio }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-audio-response",
      "name": "Has Audio Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "url": "https://waba.360dialog.io/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "D360-API-KEY",
              "value": "={{ $env.WHATSAPP_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $node['Voice Note Webhook'].json.messages[0].from }}\",\n  \"type\": \"audio\",\n  \"audio\": {\n    \"link\": \"{{ $json.audio_url }}\"\n  }\n}"
      },
      "id": "send-audio-reply",
      "name": "Send Audio Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "url": "https://waba.360dialog.io/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "D360-API-KEY",
              "value": "={{ $env.WHATSAPP_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $node['Voice Note Webhook'].json.messages[0].from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.text_response }}\"\n  }\n}"
      },
      "id": "send-text-reply",
      "name": "Send Text Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'processed', type: 'voice_note' }) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ignored', reason: 'not_audio_message' }) }}",
        "options": {}
      },
      "id": "respond-ignored",
      "name": "Respond Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $node['Generate AI Response'].json.extracted_email || '' }}",
        "additionalFields": {
          "phone": "={{ $node['Voice Note Webhook'].json.messages[0].from }}",
          "firstname": "={{ $node['Voice Note Webhook'].json.contacts[0].profile.name.split(' ')[0] }}",
          "lastname": "={{ $node['Voice Note Webhook'].json.contacts[0].profile.name.split(' ').slice(1).join(' ') }}",
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "voice_note_transcript",
                "value": "={{ $node['Transcribe Audio'].json.transcript }}"
              },
              {
                "property": "lead_score",
                "value": "={{ $node['Generate AI Response'].json.lead_score }}"
              },
              {
                "property": "conversation_summary",
                "value": "={{ $node['Generate AI Response'].json.summary }}"
              }
            ]
          }
        }
      },
      "id": "update-hubspot",
      "name": "Update HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1450, 400],
      "credentials": {
        "hubspotApi": {
          "id": "hubspot-cred",
          "name": "HubSpot API"
        }
      }
    }
  ],
  "connections": {
    "Voice Note Webhook": {
      "main": [
        [
          {
            "node": "Is Audio Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio Message?": {
      "main": [
        [
          {
            "node": "Get Media URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Media URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Generate AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Response": {
      "main": [
        [
          {
            "node": "Has Audio Response?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Audio Response?": {
      "main": [
        [
          {
            "node": "Send Audio Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Audio Reply": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text Reply": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Voice"
    },
    {
      "name": "WhatsApp"
    },
    {
      "name": "Production"
    }
  ]
}
